@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700&display=swap');

header{
	background-color: #CEB280;
	
}

#menu-dos{
	margin-bottom: 15PX;
	background-color: #2C6D67;
}

#logo-action img{
	display:block;
	margin:auto;
}
img{
display:block;
margin:auto;
border-image-width: 20px;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	
}

#menu{
	background-color: #2C6D67;
	color: #fff;
	text-transform:uppercase;
	text-align: center;
	padding: 5px;
	margin-bottom: 15PX;
	
}

#menu h3{
	font-weight:bold;
	
}

#noticia-principal{
	padding:30px;
	background-color: #B24C1B;
	margin-bottom: 15px;
}

.carousel-caption{
	top: 40%;
}

#slides{
	margin-bottom: 15px;
}
#slides h1{
	color: #fff;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 30px;
	text-align: center;
	text-transform:uppercase;
	
}

#slides h2{
	color: #fff;
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: center;
}

#slides h5{
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: center;
}

#lo-ultimo{
	background-color: #2C6D67;
	margin-bottom: 20px;
	padding: 10px;
}
#ultimo-peliculas{
	background-color: #B24C1B;
	padding:50px;
	margin-bottom: 10px;
}

.title{
	color: #fff;
	text-align: center;
	text-transform:uppercase;
	font-size: 25px;
	font-weight: 700;
}

.title-hover{
	color: #0A2828;
	text-align:center;
	text-transform:uppercase;
	font-size: 25px;
	font-weight: 700;
 }
.subtitle{
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}

.subtitle-hover{
	color: #0A2828;
	font-size: 20px;
	font-weight: 300;
	text-align: left;
}

#ultimo-peliculas p{
	color: #fff;
	font-size: 15px;
	font-weight:lighter;
	text-align: center;
}
#Trailers{
	margin: 10px;
	margin-left: 20px;
	margin-bottom: 100px;
}

#Trailers h2{
	background-color: #94CFD5;
	padding: 10px;
}

#Trailers p{
	margin:3px;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

#encabezado-cine{
	margin-bottom: 10px;
}

#encabezado-cine h2{
	background-color: #94CFD5;
}

#Cine{
	background-color:#B24C1B;
	padding: 40px;
	margin-bottom: 25px;
}

#Cine h3{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-align: left;
}

#Cine h2{
	color:#fff;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	background-color: #94CFD5;
}

#Cine p{
	color: #fff;
	font-size: 20px;
	font-weight: 200;
	text-align: left;
}

.negro{
	background-color: #0A2828;
	color:#fff;
}

.negro img{
	width:300px;
	margin-left: 20px;
	align-items: center;
}

#bio-uno{
	background-color: #94CFD5;
	color:#0A2828;
	padding: 40px;
	
}

#bio-division{
	background-color: #0A2828;
	padding: 10px;
}

#bio-dos{
	background-color: #94CFD5;
	color:#0A2828;
	padding: 60px;
}

#bio-tres{
	background-color: #94CFD5;
	color:#0A2828;
	padding: 40px;
}

#bio-division-dos{
	background-color: #0A2828;
	padding: 10px;
	margin-bottom: 20px;
}

.bio-title{
	font-weight: 600;
	font-size: 30px;
}

.bio-subtitle{
	font-weight: 600;
	font-size: 25px;
}

.bio-p{
	font-weight: 200;
	font-size: 18px;
}

.series-fondo{
	background-color: #0A2828;
	padding:10px;
}
.series-titulo{
	background-color: #B24C1B;
	color: #fff;
	text-align: center;
	text-transform:uppercase;
	font-size: 25px;
	font-weight: 600;
	padding:5px;
	margin-top: 5px;
}

.series-contenido{
	background-color: #0A2828;
	padding:30px;
}

.division{
	background-color: #94CFD5;
	padding: 10px;
}

.division-blanca{
	background-color: #fff;
	padding: 10px;
}

.serie-title{
	font-weight: 600;
	font-size: 25px;
	color: #fff;
}

.serie-p{
	font-weight: 200;
	font-size: 17px;
	color: #fff;
}

#content{
	padding: 7% 0;
	background-color:#F1E9DB;
}

#content h4{
	color: #0A2828;
	font-size: 30px;
	font-weight: 700;
}

#content p{
	color: #0A2828;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

#btn-info{
	background-color: #0A2828;
	color: #fff;
}

#map{
	background-color:#F1E9DB;
	margin-bottom: 30px;
	padding: 30px;
}

#map-view{
	width: 100%;
	height: 300px;
}

.centro{
	text-align: center;
}


.noticia-fondo{
	background-color: #2C6D67;
	padding: 5px;
	
}

.noticia-fondo-dos{
	background-color: #2C6D67;
	padding: 5px;
	margin-bottom: 20px;
	
}

.noticia-fondo-tres{
	background-color: #2C6D67;
	padding: 5px;
	margin-bottom: 20px;
	
}

.not-p{
	font-weight: 200;
	font-size: 18px;
	text-align: justify;
}

.not-p-dos{
	font-weight: 200;
	font-size: 18px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: justify;
}

.bio-subtitle-dos{
	font-weight: 600;
	font-size: 25px;
	margin-left: 40px;
	margin-right: 40px;
}
.margen-azul{
	border-width: 10px;
	border-left-color: #0A2828;
	border-left-style: solid;
 }

footer{
	background-color:  #94CFD5;
	color: #0A2828;
	text-align: center;
	padding: 50px 0;
}

footer h5 {
	font-weight: 200;
	font-size: 14px;	
}

footer p{
	font-style: normal;
	text-align: center;
}

footer h4{
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}

footer h2{
	font-size: 23px;
}







/* tablet */
@media (max-width:768px){
	
	.carousel-caption{
		top: 15%;
	}
	
	
	
}

/* Celular */
@media (max-width:480px){
	
	.carousel-caption h1{
		font-size: 30px;
		margin-top: 20px;
	}
	
	.carousel-caption h2{
		display: none;
	}
	
	.carousel-caption h5{
		display: none;
	}
	
	.carousel-caption .btn{
		display: none;
	}
	
	.noticia-fondo-tres{
		display: none;
	}
}